/* CSS con larghezza della tabella e delle colonne espresse in mm */
/* la larghezza della tabella deve essere uguale o maggiore della */
/* somma delle larghezze delle colonne*/
/* Personalizzazione Titolo */
b {
	font-family: Verdana;
	font-size: 24pt;
	letter-spacing: 0.1px;
	word-spacing: 0.2px;
	color: #000000;
}
/* Caratteristiche generali della tabella */
table.Table {
	font-family: Verdana;
	font-size: 12pt;
	letter-spacing: 0.1px;
	word-spacing: 0.2px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	border: 1.5px solid #674d3c;
	background-color: #fff2df;
	border-collapse: collapse;
	width: 145mm;
}
/* Caratteristiche dell'intestazione  */
table.Table thead th{
	font-size: 8pt;
	background: #fff2df;
	background: -moz-linear-gradient(top, #fff2df 0%, #d9ad7c 66%, #a2836e 100%);
	background: -webkit-linear-gradient(top, #fff2df 0%, #d9ad7c 66%, #a2836e 100%);
	background: linear-gradient(to bottom, #a2836e 0%, #a2836e 66%, #a2836e 100%);
	border-bottom: 0px solid #444444;
	text-align: center;
}
/* Caratteristiche generali delle colonne */
table.Table td {
	border: 1.5px solid #674d3c;
	padding: 1px 1px;
	font-size: 12px;
}
/* Caratteristiche della prima colonna*/
table.Table td:first-child {
	text-align: center;
	width: 5mm;
	font-size: 12px;
}
/* Caratteristiche della seconda colonna notare 'first-child + td' vale anche 'nth-child(2)'*/
table.Table td:first-child + td {
	text-align: center;
	width: 20mm;
	font-size: 12px;
}
/* Caratteristiche della terza colonna notare 'first-child + td + td' vale anche 'nth-child(3)'*/
table.Table td:first-child + td + td {
	text-align: center;
	font-size: 8pt;
	width: 50mm;
}
/* Caratteristiche delle colonne successive notare 'nth-child(even)'*/
table.Table td:nth-child(even) {
	text-align: center;
	width: 50mm;
}
/* Caratteristiche delle */
table.Table th {
	color: #fff2df;
	border: 1.5px solid #674d3c;
	padding: 1px 1px;
}
/* Caratteristiche generiche del corpo dell'html*/
table.Table tbody td {
	font-size: 8pt;
}
table.Table tr:nth-child(even){
	background: #d9ad7c;
}
/* Caratteristiche del div entro cui sta l'immagine*/
div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt; color: #674d3c;
	text-align: left;
	line-height: 1.5;
}
