table.Table {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.Table td, table.Table th {
  border: 1px solid #BABABA;
  padding: 3px 4px;
}
table.Table tbody td {
  font-size: 13px;
}
table.Table tr:nth-child(even) {
  background: #EBEBEB;
}
table.Table thead {
  background: #EEEEEE;
  border-bottom: 4px solid #333333;
}
table.Table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.Table thead th:first-child {
  border-left: none;
}

table.Table tfoot td {
  font-size: 10px;
}